# APP
GEOMAGNESIS__APP__ENV="dev"  # prod
# SwaggerUI
GEOMAGNESIS__SWAGGER_UI__TITLE="Geomagnesis"
GEOMAGNESIS__SWAGGER_UI__SUMMARY="summary"
GEOMAGNESIS__SWAGGER_UI__DESCRIPTION="description"
GEOMAGNESIS__SWAGGER_UI__VERSION="0.1.0"
# CORS
GEOMAGNESIS__CORS__ALLOW_ORIGINS=["*"]
GEOMAGNESIS__CORS__ALLOW_METHODS=["*"]
GEOMAGNESIS__CORS__ALLOW_HEADERS=["*"]
GEOMAGNESIS__CORS__ALLOW_CREDENTIALS=true
# Database
GEOMAGNESIS__POSTGRESQL__HOST=0.0.0.0
GEOMAGNESIS__POSTGRESQL__PORT=5432
GEOMAGNESIS__POSTGRESQL__USER=postgre
GEOMAGNESIS__POSTGRESQL__PASSWORD=postgre
GEOMAGNESIS__POSTGRESQL__DB=database
GEOMAGNESIS__POSTGRESQL__POOL_SIZE=15
GEOMAGNESIS__POSTGRESQL__MAX_OVERFLOW=15
GEOMAGNESIS__POSTGRESQL__CONNECTION_TIMEOUT=15
GEOMAGNESIS__POSTGRESQL__ECHO=false
GEOMAGNESIS__POSTGRESQL__AUTOFLUSH=false
GEOMAGNESIS__POSTGRESQL__EXPIRE_ON_COMMIT=false
